
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<input type="hidden" name="__rootPath" value="@Url.Action("",new { controller="Data"})" />

<div class="col-md-3 category-container">
    <ul id="hierarchyRoot" class="list-unstyled"></ul>
</div>
<div class="col-md-9">
    <table class="table table-condensed table-striped table-responsive table-bordered" id="resulTable">
        <tbody>
            <tr>
                <th>Period</th>
                <th>Sales</th>
                <th>Demand</th>
                <th>Supply</th>
            </tr>
        </tbody>
        <tbody id="tableContent"></tbody>
    </table>
</div>


@section scripts{
    @Scripts.Render("~/scripts/custom");
}